body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: -1;
}
.intro {
    display: flex;
    align-items: center;
}
p {
    font-size: 1.25rem;
    line-height: 1.5;
}
.intro p {
    max-width: 350px;
}
.col1 {
    width: 165px;
    margin-left: 5vw;
}
.col1 img {
    max-width: 109px;
}

.summary {
    margin-left: calc(5vw + 165px);
    max-width: 662px;
    margin-bottom: 3rem;
}
.summary p {
    color: #483333;
}

a {
    color: #AF1818;
}

.listing {
    display: flex;
    margin: 0 5vw 3rem;
}
.listing p {
    font-size: 0.95rem;
    margin-top: 0;
}
.listing h3 {
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 10px;
}
.listing h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    margin-right: 30px;
    min-width: 134px;
    margin-top: 0;
    max-width: 134px;
}
.listing ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    max-width: 890px;
    width: 100%;
    grid-gap: 1vw;
}
.listing li {
    max-width: 220px;
}
.listing img {
    width: 100%;
}
.listing span {
    display: inline-block;
    padding: 3px 5px;
    border-radius: 5px;
    background: #AF1818;
    color: white;
    font-size: 0.8rem;
    margin: 0 2px 2px 0;
}

svg path {
    stroke: white;
    stroke-width: 4;
    transition: 2.5s;
}

@media (max-width: 1023px) {
    .listing ul {
        grid-template-columns: 33% 33% 33%;
    }
}

@media (max-width: 766px) {
    .listing ul {
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 550px) {
    p {
        font-size: 1rem;
    }
    .summary {
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .col1 img {
        max-width: 70px;
        margin-right: 5vw;
    }
    .listing {
        flex-direction: column;
    }
    .listing h2 {    
        max-width: 100%;
    }
}